/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.footer {
    box-shadow:0px -0.5px 0px rgba(0, 0, 0, 0.3);
    display:flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
    overflow: hidden;
}
.container1{
    display:flex;
    justify-content: center;
    width:100%;
}
.container1 a{
    text-decoration: none;   
    font-size: 30px;
    padding:15px;    
}
